//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;
// color
$primary-color:#409EFF;
$success-color:#67C23A;
$warning-color:#E6A23C;
$danger-color:#F56C6C;
$info-color:#909399;
// header
$header-height:60px;
